<!DOCTYPE html>
<html>
<head>
    <title>WEB SHOP</title>
    <link rel='stylesheet' href='../stylesheets/narudzbe.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
        function izbrisi(idArtikla) {

            $.ajax({
                method: "DELETE",
                url: "/izbrisiizkorpe/" + idArtikla,
                data: {},
                success: function (data) {
                    if (data.success === true) { // if true (1)
                        setTimeout(function () {// wait for 5 secs(2)
                            location.reload(); // then reload the page.(3)
                        }, 5000);
                    }
                }
            }).done(function () {
                window.location.reload();

            });
        }

    </script>

</head>
<body>
<div class="header">

    <div class="header-right">
        <a class="active" href="/kupac">Početna</a>
        <a onclick="window.location.href='/profilkupca'">Profil</a>
        <a onclick="window.location.href='/kupac/profil/narudzbe'">Narudzbe</a>

    </div>
</div>
<div class="container">
    <h1>Moja korpa</h1>
</div>

<div class="container glavni">

    <% for(let i = 0;i < podaci.length;i++){ %>

    <p onclick="window.location.href='/artikal/'+'<%= podaci[i].artikal %>'">Ime artikla: <%= podaci[i].naziv %> </p>
    <img src="/images/<%= podaci[i].slika %>" class="slikart1"><br>
    <p>Trgovac : <%= podaci[i].trgovacc %></p><br>
    <p>Cijena : <%= podaci[i].cijena %> KM</p><br>
    <button onclick="izbrisi('<%= podaci[i].id %>')" class="btn btn-danger">Izbrisi</button>

    <hr>
    <% } %>

    <p>Zbir: <%= zbir[0].zbir %></p>
    <br>
    <form method="post" action="/kupac/profil/naruci">
        <button class="btn" type="submit">Naruci</button>
    </form>
</div>

</body>
</html>