<!DOCTYPE html>
<html>
<head>
    <title>Moja trgovina</title>
    <link rel='stylesheet' href='../stylesheets/kupac1.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        function izbrisi(proizvod, trgovac) {
            $.ajax({
                method: "DELETE",
                url: "/trgovac/brisi/" + proizvod + "/" + trgovac,
                data: {}
            }).done(function () {
                alert("Izbrisao artikal iz ponude !");
            });
        }


    </script>
    <!--SA DESNE STRANE IDE MENI GJDE SE IZABERE POGLEDAJ NARUDZBE, POGLEDAJ PORUKE, I NESTO JOS ABD-->

</head>
<body>
<div class="header">

    <div class="header-right">
        <a class="active" onclick="window.location.href='/profiltrgovca'">Profil</a>
        <a onclick="window.location.href='/trgovac/pricaj/chat'">Chat</a>
        <a onclick="window.location.href='/trgovac/profiltrgovca/naruceni'">Narudzbe</a>
        <a onclick="window.location.href='/logouttrgovca'">Logout</a>
    </div>
</div>
<div class="container-fluid artikli">
    <div class="row">
        <% for(let i = 0;i < sve.length;i++){ %>
        <div class="col-sm-6 col-md-3 mjestoart">
            <div class="proba">
                <figure class="figure">
                    <img src="/images/<%= sve[i].slika %>" class="slikart img-fluid"><br>
                    <div class="opis">
                        <p>Naziv artikla: <%= sve[i].proizvod %></p>
                        <p>Kategorija: <%= sve[i].naziv %></p>
                        <p>Cijena: <%= sve[i].cijena %> KM</p>
                        <button onclick="izbrisi('<%= sve[i].proizvod %>',<%= sve[i].trgovac %>)"
                                class="btn btn-danger">Brisi
                        </button>
                        <button name="<%= sve[i].ide %>" onclick="window.location.href='/uredi/'+this.name"
                                class="btn btn-dark">Uredi
                        </button>
                    </div>
                </figure>
                <br>

            </div>

        </div>

        <% } %>

    </div>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <button class="btn btn-success" onclick="window.location.href='/dodajartikal'">Dodaj artikal</button>
        </div>
        <div class="col-sm-4"></div>


    </div>
</div>


</body>
</html>
